/* Geral */

a:link {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: #fff;
}

/* Menu */

.titulo {
  display: flex;
  margin-top: 50px;
}

.imagemTitulo {
  max-width: 500px;
}

.imagemOcb {
  height: 30px;
}
.imagemSomosCoop {
  height: 30px;
}

.itemForm {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.textForm {
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 4px;
  height: 44px;
  padding: 0 15px;
  color: #000;
  margin: 0 0 10px;
}

.textArea {
  background: rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 4px;
  height: 44px;
  padding: 0 15px;
  color: #000;
  margin: 0 0 10px;
  height: 80px;
}

.buttonForm {
  padding: 0 0 10px;
  text-align: center;
}
.button {
  height: 44px;
  width: 200px;
  background: #052959;
  font-weight: bold;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px;
}

.acaoPrincipal {
  padding: 10px;
}

.tituloPrincipal {
  font-size: 40px;
  padding: 0 0 20px;
  color: #694197;
  font-weight: bold;
  text-align: center;
}

.tituloSecundario {
  font-size: 16px;
  text-align: center;
  padding: 0 20px 20px;
}

.imgPrincipal {
  height: 150px;
  border-radius: 50px;
}
.nomeAcao {
  font-size: 22px;
  font-weight: bold;
  padding: 5px 0;
}
.chamadaAcao {
  font-size: 16px;
}

a.urlAcao {
  color: blue;
}

.fotoMarcio {
  max-width: 400px;
  margin-top: -150px;
}

@media (max-width: 1024px) {
  .imagemTitulo {
    max-width: 200px;
  }

  .imagemOcb {
    height: 15px;
  }
  .imagemSomosCoop {
    height: 12px;
  }
  .fotoMarcio {
    max-width: 400px;
    margin-top: 0px;
  }
}
